result
result/
.DS_Store
.idea
.vscode
__pycache__/
*.pyc
dotfiles/zed/prompts/
dotfiles/aws/**/cache/

.aider*
.opencode/
dotfiles/opencode/openviking/
dotfiles/opencode/package-lock.json
dotfiles/opencode/node_modules/
# Local OpenCode config written by dotfiles/setup.sh; the tracked template is
# dotfiles/opencode/opencode.local.json.
/opencode.json
.env
.env.*
!.env.example
